{% extends 'backendbase.html.twig' %}

{% block body %}


    <div class="jumbotron">
        <h1 class="display-4">Produkte</h1>
        <div class="row alert alert-dark margin__tb__8 sticky-top top__56">
            <div class="col-1">
                Id
            </div>
            <div class="col-2">
                Image
            </div>
            <div class="col-2">
                Produktname
            </div>
            <div class="col-3">
                Beschreibung
            </div>
            <div class="col-2">
                Marke
            </div>
            <div class="col-2">
                Preis
            </div>
        </div>
        {% for product in products %}
            <div class="row alert alert-success margin__tb__8">
                <div class="col-1">
                    {{ product.id }}
                </div>
                <div class="col-2">
                    <img src="{{ product.image }}" style="max-width: 100%">
                </div>
                <div class="col-2">
                    {{ product.name }}
                </div>
                <div class="col-3">
                    {{ product.description }}
                </div>
                <div class="col-2">
                    {{ product.brand }}
                </div>
                <div class="col-2">
                    {{ product.price }}
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form(form) }}
    <button type="button" id="gen_100" class="btn btn-dark width__full">Generier 100 zufällige Produkte</button>
{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock %}
